# Ambiente virtual Python
.venv/
venv/

# Cache do Python
__pycache__/
*.pyc

# Variáveis de ambiente / dados sensíveis
.env

# Pytest
.pytest_cache/

# Playwright
playwright-report/
test-results/

# Allure
allure-results/
allure-report/

# Evidências geradas pelos testes
evidencias/

# IDEs
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db